.article {
  background-color: $pink-gray;
  background-repeat: no-repeat;
  text-align: center;
}

.article__date {
  font-family: $font;
  font-weight: 500;
  color: $gray-font;
  font-size: 14px;
  line-height: 18px;
}

.article__heading {
  margin-top: 0;
  font-family: $font-headings;
  font-weight: 600;
  margin-bottom: 38px;
  font-size: 26px;
  line-height: 130%;
}

.article__link,
.article__link:hover {
  display: inline-block;
  width: 97px;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 21px;
  font-family: $font;
  font-weight: 500;
  border-bottom: 1px solid $brown;
}

@media (min-width: $desktop-width) {
  .article {
    display: flex;
    width: 100%;
    flex-shrink: 2;
    flex-grow: 2;
    justify-content: space-between;
  }

  .article__wrapper {
    width: 50%;
    height: 300px;
    background-color: $pink-gray;
  }

  .article__first,
  .article__second {
    min-height: 300px;

    .article__date {
      margin-top: 67px;
      margin-bottom: 14px;
    }
  }

  .article__first {
    margin-bottom: 30px;
    background-image: url("../img/jess-harper-sunday-desktop@1x.png");
    background-position: 0 0;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/jess-harper-sunday-desktop@2x.jpg");
      background-size: contain;
    }

    .article__wrapper {
      margin-left: auto;
    }
  }

  .article__second {
    margin-bottom: 30px;
    background-image: url("../img/alex-holyoake-desktop@1x.png");
    background-position: 100% 0;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/alex-holyoake-desktop@2x.jpg");
      background-size: contain;
    }

    .article__wrapper {
      margin-right: auto;
    }
  }

  .article__third {
    min-height: 630px;
    background-image: url("../img/alve-odonnell-desktop@1x.png");
    background-position: 0 0;
    background-size: cover;
    margin-bottom: 30px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/alve-odonnell-desktop@2x.jpg");
      background-size: cover;
    }

    .article__wrapper {
      width: 285px;
      height: 315px;
      background-color: $pink-gray;
      margin-left: auto;
      margin-top: auto;
    }

    .article__date {
      margin-top: 90px;
      margin-bottom: 14px;
    }
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .article {
    display: flex;
    width: 100%;
    flex-shrink: 2;
    flex-grow: 2;
    justify-content: space-between;
  }

  .article__wrapper {
    width: 50%;
    height: 300px;
    background-color: $pink-gray;
  }

  .article__first,
  .article__second {
    min-height: 300px;

    .article__date {
      margin-top: 67px;
      margin-bottom: 14px;
    }
  }

  .article__first {
    margin-bottom: 50px;
    background-image: url("../img/jess-harper-tablet@1x.jpg");
    background-position: 0 0;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/jess-harper-tablet@2x.jpg");
      background-size: contain;
    }

    .article__wrapper {
      margin-left: auto;
    }
  }

  .article__second {
    margin-bottom: 0;
    background-image: url("../img/alex-holyoake-tablet@1x.jpg");
    background-position: 100% 0;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/alex-holyoake-tablet@2x.jpg");
      background-size: contain;
    }

    .article__wrapper {
      margin-right: auto;
    }
  }

  .article__third {
    background-image: url("../img/alve-odonnell-tablet@1x.jpg");
    background-position: 0 0;
    background-size: contain;
    margin-bottom: 30px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/alve-odonnell-tablet@2x.jpg");
      background-size: contain;
    }

    .article__wrapper {
      margin-left: auto;
    }

    .article__date {
      margin-top: 83px;
      margin-bottom: 14px;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .article {
    display: flex;
    width: 100%;
    min-height: 512px;
    flex-shrink: 2;
    flex-grow: 2;
    justify-content: space-between;
  }

  .article__wrapper {
    width: 100%;
    height: 256px;
    background-color: $pink-gray;
    margin-top: auto;
  }

  .article__date {
    margin-top: 46px;
    margin-bottom: 12px;
  }

  .article__first {
    margin-bottom: 40px;
    background-image: url("../img/jess-harper-sunday-mobile@1x.jpg");
    background-position: 0 0;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/jess-harper-mobile@2x.jpg");
      background-size: contain;
    }
  }

  .article__second {
    margin-bottom: 0;
    background-image: url("../img/alex-holyoake-mobile@1x.jpg");
    background-position: 100% 0;
    background-size: contain;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/alex-holyoake-mobile@2x.jpg");
      background-size: contain;
    }
  }

  .article__third {
    background-image: url("../img/alve-odonnell-mobile@1x.jpg");
    background-position: 0 0;
    background-size: contain;
    margin-bottom: 30px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/alve-odonnell-mobile@2x.jpg");
      background-size: contain;
    }

    .article__date {
      margin-top: 63px;
      margin-bottom: 12px;
    }
  }
}
