.blog {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 2;
}

.blog__heading {
  margin-top: 0;
  margin-bottom: 19px;
  font-family: $font-headings;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
}

.blog__link {
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  margin-left: calc(50% - 33px);
  padding-bottom: 4px;
  margin-bottom: 60px;
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid $brown;

  &:hover {
    color: $gray-font;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $brown;
  }
}

.blog__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
}

@media (min-width: $desktop-width) {
  .blog {
    margin-right: 7.17%;
    margin-left: 7.17%;
  }

  .blog__column {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 2;
    width: 50%;

    &:first-child {
      padding-right: 15px;
    }

    &:last-child {
      padding-left: 15px;
    }
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .blog {
    margin-right: 5.86%;
    margin-left: 5.86%;
  }

  .blog__wrapper {
    flex-direction: column;
  }

  .blog__column {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 2;
    width: 100%;

    &:first-child {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .blog {
    padding-top: 10px;
    margin-right: 4.68%;
    margin-left: 4.68%;
  }

  .blog__link {
    margin-bottom: 50px;
  }

  .blog__wrapper {
    flex-direction: column;
  }

  .blog__column {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 2;
    width: 100%;

    &:first-child {
      margin-bottom: 40px;
    }
  }
}
