.catalog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.catalog__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.catalog__product-description {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
  flex-direction: column;
  flex-shrink: 2;
}

.catalog__product-image-wrapper {
  display: flex;
  width: 100%;
  flex-shrink: 2;
}

.catalog__product-image {
  display: block;
  width: 100%;
  height: auto;
}

.catalog__product-name {
  margin-top: 21px;
  margin-bottom: 6px;
}

.catalog__product-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.catalog__pagination {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: flex-start;
}

.catalog__pagination-item-link,
.catalog__pagination-item-link:hover {
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $gray-font;
}

.catalog__pagination-item-link--active,
.catalog__pagination-item-link-previous,
.catalog__pagination-item-link-next {
  color: $black;
}

.pagination-item-next {
  margin-left: auto;
}


@media (min-width: $desktop-width) {
  .catalog {
    width: 74.35%;
  }

  .catalog__list {
    margin-left: -3.22%;
  }

  .catalog__product-description {
    margin-left: 3.22%;
    margin-bottom: 37px;
    width: 30%;
  }

  .catalog__pagination {
    padding-top: 32px;
    padding-bottom: 75px;
  }

  .pagination-item-previous {
    margin-right: 36.55%;
  }

  .catalog__pagination-item-page-number {
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .catalog {
    width: 100%;
  }

  .catalog__list {
    margin-left: -3.33%;
  }

  .catalog__product-description {
    margin-left: 3.33%;
    margin-bottom: 36px;
    width: 30%;
  }

  .pagination-item-previous {
    margin-right: 32.85%;
  }

  .catalog__pagination {
    padding-top: 36px;
    padding-bottom: 76px;
  }

  .catalog__pagination-item-page-number {
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .catalog {
    width: 100%;
  }

  .catalog__list {
    margin-left: -9.5%;
  }

  .catalog__product-description {
    margin-left: 9%;
    margin-bottom: 26px;
    width: 41%;
    justify-content: flex-start;
  }

  .catalog__product-name {
    margin-top: 16px;
    margin-bottom: 6px;
    text-align: center;
  }

  .catalog__pagination {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    padding-top: 16px;
    padding-bottom: 66px;
  }

  .pagination-item-previous,
  .pagination-item-next {
    display: none;
  }

  .catalog__pagination-item-page-number {
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }
  }
}
