.faq__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-headings;
  font-weight: 700;
  text-align: center;
  font-size: 34px;
  line-height: 44px;
}

.faq__link,
.faq__link:hover {
  position: relative;
  display: block;
  color: $black;
  cursor: pointer;
}

.faq__list {
  padding-left: 0;
  list-style: none;
  border: 1px solid $brown;
}

.faq__item {
  font-family: $font;
  border-bottom: 1px solid $brown;

  &:last-child {
    border-bottom: none;
  }
}

.faq__question {
  position: relative;
  margin-top: 0;
  font-weight: 500;

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 8px;
    top: calc(50% - 3px);
    right: -69.9%;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/angle-bottom.svg");
  }

  br {
    display: none;
  }
}

.faq__link--open {
  .faq__question::after {
    background-image: url("../img/angle-top.svg");
  }
}

.faq__answer {
  display: none;
}

.faq__link--open > .faq__answer {
  display: block;
  font-weight: 400;
}

@media (min-width: $desktop-width) {
  .faq {
    padding-top: 91px;
  }

  .faq__list {
    margin-top: 47px;
    margin-left: 14.49%;
    margin-right: 14.49%;
    margin-bottom: 0;
  }

  .faq__link {
    padding-top: 42px;
    padding-left: 50px;
    padding-right: 42%;
    padding-bottom: 29px;
  }

  .faq__question {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 23px;
  }

  .faq__answer {
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 21px;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .faq {
    padding-top: 40px;
  }

  .faq__list {
    margin-top: 48px;
    margin-right: 5.86%;
    margin-left: 5.86%;
    margin-bottom: 0;
  }

  .faq__link {
    padding-top: 43px;
    padding-left: 50px;
    padding-right: 14%;
    padding-bottom: 18px;
  }

  .faq__question {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 23px;

    &::after {
      width: 26px;
      height: 15px;
      top: calc(50% - 8px);
      right: -9%;
      background-size: cover;
    }
  }

  .faq__answer {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 21px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .faq {
    padding-top: 31px;
  }

  .faq__list {
    margin-top: 27px;
    margin-right: 4.66%;
    margin-left: 4.66%;
    margin-bottom: 0;
  }

  .faq__link {
    padding-top: 17px;
    padding-left: 25px;
    padding-right: 19%;
    padding-bottom: 20px;
  }

  .faq__question {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 140%;

    &::after {
      width: 20px;
      height: 10px;
      top: calc(50% - 17px);
      right: -14.5%;
      background-size: cover;
    }

    br {
      display: inline;
    }
  }

  .faq__answer {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
  }
}
