.filter {
  font-family: $font;
  font-weight: 500;
  color: $black;
}

.filter__heading {
  display: block;
  min-height: 68px;
  margin-top: 0;
  padding-top: 23px;
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  background-color: $brown;
  line-height: 21px;
  text-align: center;
}

.filter__form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border: 1px solid $brown;
}

.filter__close-form-button {
  display: none;
}

.filter__form fieldset {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  border: none;
  border-bottom: 1px solid $brown;

  &:last-of-type {
    border-bottom: none;
  }
}

.filter__form legend {
  padding-left: 0;
  padding-right: 0;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px $brown;
  }
}

.filter__subtitle-link {
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 15px;
    height: 8px;
    top: 29px;
    right: 24px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/angle-top.svg");
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $brown;
  }
}

.filter__subtitle-link--close {
  &::after {
    background-image: url("../img/angle-bottom.svg");
  }
}

.filter__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  list-style: none;
}

.filter__option label {
  font-family: $font;
  font-weight: 500;
}

.filter__list--close {
  display: none;
}

.filter__option input {
  opacity: 0;
}

.filter__option input + label {
  position: relative;
}

.filter__option input + label::before {
  position: absolute;
  top: 3px;
  left: -24px;
  width: 15px;
  height: 15px;
  content: "";
  border: 1px solid $brown;
  cursor: pointer;
}

.filter__option input:checked + label::after {
  position: absolute;
  top: 3px;
  left: -24px;
  width: 15px;
  height: 15px;
  content: "";
  background-color: $brown;
  cursor: pointer;
}

.filter__option input:hover + label::before {
  box-shadow: 0 0 2px $brown;
}

.filter__option input:focus + label::before {
  box-shadow: 0 0 2px 1px $brown;
}

.filter__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $white;
}

.filter__apply-button {
  width: 100%;
  min-height: 68px;
  font-family: $font;
  font-weight: 500;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $black;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $brown;
  }
}

.filter__clear-button {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: $font;
  font-weight: 500;
  background-color: $white;
  border: none;
  border-bottom: 1px solid $brown;
  padding-bottom: 4px;
  cursor: pointer;

  &:hover {
    color: $gray-font;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $brown;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    width: 24%;
    padding-right: 30px;
  }

  .filter__heading {
    display: none;
  }

  .filter__form fieldset {
    padding-left: 26px;
    padding-bottom: 2px;
  }

  .filter__list {
    padding-bottom: 12px;
  }


  .filter__form legend {
    padding-top: 22px;
    padding-bottom: 16px;
  }

  .filter__option {
    padding-bottom: 10px;
  }

  .filter__option label {
    font-size: 14px;
    line-height: 18px;
  }

  .filter__buttons-wrapper {
    position: absolute;
    left: 0;
    bottom: -156px;
    width: 100%;
  }

  .filter__apply-button {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 130%;
  }

  .filter__clear-button {
    font-size: 16px;
    line-height: 130%;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .filter {
    position: relative;
  }

  .filter__heading {
    margin-bottom: 49px;
  }

  .filter__form {
    display: flex;
    padding-bottom: 40px;
    margin-bottom: 50px;
    margin-top: 68px;
    margin-left: 17.4%;
    margin-right: 17.4%;
    width: 65%;
    border: none;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  .filter__form--close {
    display: none;
  }

  .filter__form fieldset {
    padding-left: 40px;
    padding-bottom: 11px;

    &:last-of-type {
      border-bottom: 1px solid $brown;
    }
  }

  .filter__close-form-button {
    position: absolute;
    top: -17px;
    left: 96.7%;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .filter__list {
    padding-left: 16px;
    padding-bottom: 10px;
  }

  .filter__option {
    padding-bottom: 17px;
  }

  .filter__option label {
    font-size: 16px;
    line-height: 21px;
  }

  .filter__option input + label::before {
    position: absolute;
    top: 2px;
    left: -29px;
    width: 18px;
    height: 18px;
    content: "";
    border: 1px solid $brown;
  }

  .filter__option input:checked + label::after {
    position: absolute;
    top: 2px;
    left: -29px;
    width: 18px;
    height: 18px;
    content: "";
    background-color: $brown;
  }

  .filter__subtitle-link {
    font-size: 18px;
    line-height: 23px;

    &::after {
      width: 24px;
      height: 13px;
      top: 38px;
      right: 38px;
    }
  }

  .filter__form legend {
    padding-top: 33px;
    padding-bottom: 18px;
  }

  .filter__buttons-wrapper {
    left: 0;
    bottom: 40px;
    width: 100%;
    padding-top: 40px;
    padding-left: 9%;
    padding-right: 9%;
  }

  .filter__apply-button {
    margin-bottom: 24px;
    height: 68px;
    padding: 0;
    width: 100%;
    font-size: 16px;
    line-height: 130%;
  }

  .filter__clear-button {
    font-size: 16px;
    line-height: 130%;
    width: 100%;
    min-height: 68px;
    padding-bottom: 0;
    border: 1px solid $brown;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .filter {
    position: relative;
  }

  .filter__heading {
    margin-bottom: 40px;
  }

  .filter__form {
    display: flex;
    padding-bottom: 30px;
    margin-top: 76px;
    margin-bottom: 60px;
    margin-left: 3.4%;
    margin-right: 3.4%;
    width: 93%;
    border: none;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  .filter__form--close {
    display: none;
  }

  .filter__form fieldset {
    padding-left: 20px;
    padding-bottom: 0;

    &:last-of-type {
      height: 142px;
      border-bottom: 1px solid $brown;
    }
  }

  .filter__close-form-button {
    position: absolute;
    top: -16px;
    left: 92%;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .filter__list {
    padding-left: 16px;
    padding-bottom: 11px;
  }

  .filter__option {
    padding-bottom: 17px;
  }

  .filter__option label {
    font-size: 16px;
    line-height: 21px;
  }

  .filter__option input + label::before {
    position: absolute;
    top: 2px;
    left: -30px;
    width: 18px;
    height: 18px;
    content: "";
    border: 1px solid $brown;
  }

  .filter__option input:checked + label::after {
    position: absolute;
    top: 2px;
    left: -30px;
    width: 18px;
    height: 18px;
    content: "";
    background-color: $brown;
  }

  .filter__subtitle-link {
    font-size: 18px;
    line-height: 23px;

    &::after {
      width: 22px;
      height: 11px;
      top: 30px;
      right: 18px;
    }
  }

  .filter__form legend {
    padding-top: 24px;
    padding-bottom: 18px;
  }

  .filter__buttons-wrapper {
    left: 0;
    bottom: 40px;
    width: 100%;
    padding-top: 31px;
    padding-left: 7.2%;
    padding-right: 7%;
  }

  .filter__apply-button {
    margin-bottom: 20px;
    height: 68px;
    padding: 0;
    width: 100%;
    font-size: 16px;
    line-height: 130%;
  }

  .filter__clear-button {
    font-size: 16px;
    line-height: 130%;
    width: 100%;
    min-height: 68px;
    padding-bottom: 0;
    border: 1px solid $brown;
  }
}
