.filter {
  font-family: $font;
  font-weight: 500;
  color: $black;
}

.filter__form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border: 1px solid $brown;
}

.filter__close-form-button {
  display: none;
}

.filter__block {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  border: none;
  border-bottom: 1px solid $brown;

  &:last-of-type {
    border-bottom: none;
  }
}

.filter__subtitile {
  padding-left: 0;
  padding-right: 0;
}

.filter__subtitle-link {
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 15px;
    height: 8px;
    top: 29px;
    right: 24px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/angle-top.svg");
  }
}

.filter__subtitle-link--close {
  &::after {
    background-image: url("../img/angle-bottom.svg");
  }
}

.filter__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  list-style: none;
}

.filter__option label {
  font-family: $font;
  font-weight: 500;
}

.filter__list--close {
  display: none;
}

.filter__input {
  opacity: 0;
}

.filter__input + label {
  position: relative;
}

.filter__input-checkbox + label::before {
  position: absolute;
  top: 3px;
  left: -24px;
  width: 15px;
  height: 15px;
  content: "";
  border: 1px solid $brown;
}

.filter__input-checkbox:checked + label::after {
  position: absolute;
  top: 3px;
  left: -24px;
  width: 15px;
  height: 15px;
  content: "";
  background-color: $brown;
}

.filter__input-checkbox:hover + label::before {
  box-shadow: 0 0 2px $brown;
}

.filter__buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $white;
}

.filter__apply-button {
  width: 100%;
  min-height: 68px;
  font-family: $font;
  font-weight: 500;
  color: $white;
}

.filter__clear-button {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: $font;
  font-weight: 500;
  background-color: $white;
  border: none;
  border-bottom: 1px solid $brown;
  padding-bottom: 4px;
}

@media (min-width: $desktop-width) {
  .filter {
    width: 21.36%;
  }

  .filter__heading {
    display: none;
  }

  .filter__block {
    padding-left: 24px;
    padding-bottom: 2px;
  }

  .filter__list {
    padding-bottom: 12px;
  }


  .filter__subtitile {
    padding-top: 22px;
    padding-bottom: 16px;
  }

  .filter__option {
    padding-bottom: 10px;
  }

  .filter__option label {
    font-size: 14px;
    line-height: 18px;
  }

  .filter__buttons-wrapper {
    position: absolute;
    left: 0;
    bottom: -156px;
    width: 100%;
  }

  .filter__apply-button {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 130%;
  }

  .filter__clear-button {
    font-size: 16px;
    line-height: 130%;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .filter {
    position: relative;
  }

  .filter__heading {
    display: block;
    min-height: 68px;
    margin-top: 0;
    margin-bottom: 69px;
    padding-top: 23px;
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    background-color: $brown;
    line-height: 21px;
    text-align: center;
  }

  .filter__form {
    display: flex;
    padding-bottom: 241px;
    margin-bottom: 50px;
    margin-left: 17.4%;
    margin-right: 17.4%;
    width: 65%;
    border: none;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
  }

  .filter__form--close {
    display: none;
  }

  .filter__block {
    padding-left: 40px;
    padding-bottom: 11px;

    &:last-of-type {
      border-bottom: 1px solid $brown;
    }
  }

  .filter__close-form-button {
    position: absolute;
    top: -17px;
    left: 96.7%;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .filter__list {
    padding-left: 16px;
    padding-bottom: 10px;
  }

  .filter__option {
    padding-bottom: 17px;
  }

  .filter__option label {
    font-size: 16px;
    line-height: 21px;
  }

  .filter__input-checkbox + label::before {
    position: absolute;
    top: 2px;
    left: -29px;
    width: 18px;
    height: 18px;
    content: "";
    border: 1px solid $brown;
  }

  .filter__input-checkbox:checked + label::after {
    position: absolute;
    top: 2px;
    left: -29px;
    width: 18px;
    height: 18px;
    content: "";
    background-color: $brown;
  }

  .filter__subtitle-link {
    font-size: 18px;
    line-height: 23px;

    &::after {
      width: 24px;
      height: 13px;
      top: 38px;
      right: 38px;
    }
  }

  .filter__subtitile {
    padding-top: 33px;
    padding-bottom: 18px;
  }

  .filter__buttons-wrapper {
    left: 0;
    bottom: 40px;
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
  }

  .filter__apply-button {
    margin-bottom: 25px;
    height: 68px;
    padding: 0;
    width: 100%;
    font-size: 16px;
    line-height: 130%;
  }

  .filter__clear-button {
    font-size: 16px;
    line-height: 130%;
    width: 100%;
    min-height: 68px;
    border: 1px solid $brown;
  }
}
