.login__wrapper {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-wrapper picture {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.login__image {
  display: block;
  width: 100%;
  height: auto;
}

.login__icon {
  fill: $black;
  cursor: pointer;
}

.login__heading {
  margin-bottom: 0;
  font-family: $font-headings;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: $black;
}

.login__form {
  width: 79%;
  margin-left: auto;
  margin-right: auto;
}

.login__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.login__item input {
  width: 100%;
  height: 30px;
  padding-top: 0;
  padding-bottom: 7px;
  background-color: $pink-gray;
  border: none;
  border-bottom: 1px solid $black;

  &::placeholder {
    font-family: $font;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $gray-font;
  }

  &:hover {
    background-color: $pink-gray;
  }
}

.login__forgot-password-link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: right;
  margin-bottom: 45px;
  padding-top: 5px;
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $gray-font;

  &:hover {
    color: $black;
  }
}

.login__form button {
  display: block;
  width: 100%;
  min-height: 68px;
  padding: 0;
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  &:hover {
    color: $black;
  }
}

.login__new-account {
  width: 228px;
  margin-left: calc(50% - 114px);
  margin-top: 15px;
  margin-bottom: 14px;
  padding-left: 0;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $gray-font;
}

.login__new-account-link {
  margin-left: 2px;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black;

  &:hover {
    color: $gray-font;
  }
}

.login__close-button {
  position: absolute;
  display: block;
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .login__wrapper {
    width: 31.47%;
    min-height: 586px;
    margin-top: 100px;
    background-color: $pink-gray;
  }

  .login__close-button {
    top: 20px;
    right: 20px;
  }

  .login__heading {
    margin-top: 50px;
    margin-bottom: 33px;
  }

  .login__item {
    &:first-child {
      margin-bottom: 34px;
    }
  }

  .login__new-account {
    margin-bottom: 54px;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .login__wrapper {
    width: 57.55%;
    min-height: 586px;
    margin-top: 80px;
    background-color: $pink-gray;
  }

  .login__close-button {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }

  .login__form {
    width: 77%;
  }

  .login__icon {
    width: 20px;
    height: 20px;
  }

  .login__heading {
    margin-top: 50px;
    margin-bottom: 33px;
  }

  .login__item {
    &:first-child {
      margin-bottom: 34px;
    }
  }

  .login__new-account {
    margin-top: 15px;
    margin-bottom: 54px;
  }

  .login__new-account-link {
    margin-left: 3px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .login__wrapper {
    width: 84.37%;
    min-height: 470px;
    margin-top: 50px;
    background-color: $pink-gray;
  }

  .login__close-button {
    top: 15px;
    right: 15px;
  }

  .login__icon {
    width: 14px;
    height: 14px;
  }

  .login__heading {
    margin-top: 37px;
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 31px;
  }

  .login__form {
    width: 88.88%;
  }

  .login__item {
    &:first-child {
      margin-bottom: 30px;
    }
  }

  .login__forgot-password-link {
    margin-bottom: 35px;
  }

  .login__new-account {
    margin-top: 15px;
    margin-bottom: 38px;
  }

  .login__new-account-link {
    margin-left: 2px;
  }
}
