.main {
  flex: 1 0 auto;
}

.main__promo {
  width: 100%;
  font-family: $font-headings;
  background-color: $pink-background;
  color: $white;
  text-align: center;
}

.main__promo-definition {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.main__promo-slogan {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  flex-direction: column;
  font-style: italic;
  font-weight: 400;
}

.main__inner-page-heading-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 261px;
  font-family: $font-headings;
  color: $white;
  background-color: $pink-background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.main__inner-page-heading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
}

.main__inner-page-slogan {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  line-height: 29px;
}

.main__catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $desktop-width) {
  .main__promo {
    height: 463px;
    background-image: url("../img/main-desktop@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .main__promo-slogan {
    padding-top: 185px;
    font-size: 38px;
    line-height: 49px;
  }

  .main__promo-definition {
    padding-bottom: 0;
    font-size: 45px;
    line-height: 49px;
  }

  .main__inner-page-heading-wrapper {
    background-image: url("../img/main-catalog-desktop@1x.jpg");


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-catalog-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .main__inner-page-heading {
    padding-top: 92px;
    padding-bottom: 2px;
  }

  .main__catalog-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 7.2%;
    margin-right: 7.2%;
    margin-top: 80px;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .main__promo {
    height: 463px;
    background-image: url("../img/main-tablet@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .main__promo-slogan {
    padding-top: 185px;
    font-size: 38px;
    line-height: 49px;
  }

  .main__promo-definition {
    padding-bottom: 0;
    font-size: 45px;
    line-height: 49px;
  }

  .main__inner-page-heading-wrapper {
    background-image: url("../img/main-catalog-tablet@1x.jpg");


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-catalog-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .main__inner-page-heading {
    padding-top: 92px;
    padding-bottom: 2px;
  }

  .main__catalog-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5.85%;
    margin-right: 5.85%;
    margin-top: 50px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .main__promo {
    height: 463px;
    background-image: url("../img/main-mobile@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-mobile@2x.jpg");
      background-size: cover;
    }
  }

  .main__promo-slogan {
    padding-top: 193px;
    font-size: 34px;
    line-height: 38px;
  }

  .main__promo-definition {
    padding-bottom: 0;
    font-size: 38px;
    line-height: 42px;
  }

  .main__inner-page-heading-wrapper {
    background-image: url("../img/main-catalog-mobile@1x.jpg");


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-catalog-mobile@2x.jpg");
      background-size: cover;
    }
  }

  .main__inner-page-heading {
    padding-top: 80px;
    padding-bottom: 2px;
  }

  .main__inner-page-slogan {
    margin-left: 5.85%;
    margin-right: 5.85%;
    line-height: 26px;
  }

  .main__catalog-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 4.8%;
    margin-right: 4.8%;
    margin-top: 40px;
  }
}
