.modal {
  width: 100%;
  background-color: $white;
  z-index: 2;
}

.modal--open {
  position: absolute;
  display: flex;
}

.modal--close {
  display: none;
}

@media (min-width: $desktop-width) {
  .modal {
    height: 786px;
  }

  .modal--open {
    top: 126px;
    left: 0;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .modal {
    height: 746px;
  }

  .modal--open {
    top: 126px;
    left: 0;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .modal {
    height: 570px;
  }

  .modal--open {
    top: 90px;
    left: 0;
  }
}
