.modal {
  width: 100%;
  height: 100vh;
  background-color: $white;
  z-index: 2;
}

.modal--open {
  position: absolute;
  display: flex;
}

.modal--close {
  display: none;
}

@media (min-width: $desktop-width) {
  .modal--open {
    top: 0;
    left: 0;
  }

  .modal__add-to-cart.modal--open {
    top: -126px;
    left: 0;
    min-height: 200vh;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .modal--open {
    top: 0;
    left: 0;
  }

  .modal__add-to-cart.modal--open {
    top: 126px;
    left: 0;
    min-height: 200vh;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .modal--open {
    top: 0;
    left: 0;
  }

  .modal__add-to-cart.modal--open {
    top: 0;
    left: 0;
    min-height: 200vh;
  }
}
