.modal {
  width: 100%;
  background-color: $white;
}

.modal--open {
  position: absolute;
  display: flex;
}

.modal--close {
  display: none;
}

@media (min-width: $desktop-width) {
  .modal {
    height: 786px;
  }

  .modal--open {
    top: 126px;
    left: 0;
  }
}
