.new-arrivals {
  background-color: $white;
  font-family: $font;
}

.new-arrivals__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-headings;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-align: center;

  &:hover {
    color: $black;
  }
}

.new-arrivals__slider {
  width: 100%;
}

@media (min-width: $desktop-width) {
  .new-arrivals__heading {
    padding-top: 120px;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .new-arrivals__heading {
    padding-top: 70px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .new-arrivals__heading {
    padding-top: 60px;
  }
}
