.page-footer {
  background-color: $black-background;
  width: 100%;
  flex: 0 0 auto;
}

.page-footer__wrapper {
  display: flex;
  vertical-align: middle;
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    min-height: 338px;
    padding-left: 7.17%;
    padding-right: 7.17%;
    padding-bottom: 95px;
  }

  .page-footer__subscription {
    min-width: 510px;
  }

  .page-footer__order-information {
    min-width: 168px;
    padding-right: 5px;
    padding-left: 9px;
  }

  .page-footer__shop-information {
    min-width: 116px;
    padding-right: 5px;
    padding-left: 6px;
  }

  .page-footer__social {
    min-width: 115px;
    padding-left: 5px;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 446px;
    padding-left: 5.9%;
    padding-right: 19.5%;
    padding-bottom: 55px;
  }

  .page-footer__subscription {
    min-width: 100%;
  }

  .page-footer__order-information {
    min-width: 168px;
  }

  .page-footer__shop-information {
    min-width: 116px;
  }

  .page-footer__social {
    min-width: 115px;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .page-footer__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 773px;
    padding-left: 4.68%;
    padding-right: 4.68%;
    padding-bottom: 37px;
  }

  .page-footer__subscription {
    min-width: 100%;
  }

  .page-footer__order-information {
    min-width: 168px;
  }

  .page-footer__shop-information {
    min-width: 116px;
  }

  .page-footer__social {
    min-width: 162px;
  }
}
