@media (min-width: $desktop-width) {
  .page-header {
    min-height: 186px;
  }

  .page-header__wrapper {
    position: relative;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    height: 126px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 7.17%;
    padding-right: 7.17%;
    border-bottom: 1px solid $gray;
  }

  .page-header__search {
    display: flex;
    text-align: left;
    vertical-align: middle;
    // margin-right: 32.7%;
  }

  .page-header__search-button {
    width: 14px;
    height: 14px;
    padding: 0;
    margin-top: 56px;
    margin-right: 15px;
    background-color: $white;
    border: none;
  }

  .page-header__search-input {
    width: 140px;
    padding: 0;
    background-color: $white;
    border: none;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      color: $gray-font;
    }
  }

  .info-list--desktop-main-only,
  .products-list--desktop-main-only {
    display: none;
  }

  .page-heder__logo {
    display: flex;
    position: absolute;
    left: 47.6%;
  }

  .page-heder__logo-icon {
    margin-top: 30px;
  }

  .page-header__user-navigation {
    min-width: 119px;
    // margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .page-header__wrapper {
    display: flex;
    vertical-align: middle;
    align-content: right;
    height: 126px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5.7%;
    padding-right: 5.7%;
    border-bottom: none;
  }

  .page-header__logo {
    display: flex;
    position: absolute;
    left: 45.8%;
    top: 30px;
  }

  .page-header__user-navigation {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .page-header--menu-opened {
    min-height: 778px;
    background-color: $brown;

    .page-header__logo-icon{
      stroke: $white;
      fill: $white;
    }

    .page-header__wrapper {
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 176px;
    }

    .page-header__search {
      position: relative;
    }

    .page-header__search-button {
      position: absolute;
      border: none;
      background-color: transparent;
      top: 11px;
      left: 7px;
    }

    .page-header__search-icon {
      width: 16px;
      height: 16px;
      fill: $white;
      stroke: $white;
    }
  }

  .page-header__search--closed {
    display: none;
  }

  .page-header__search-input--menu-opened {
    width: 100%;
    height: 40px;
    padding: 0;
    border: none;
    background-color: $input-background;
    border-radius: 21px;

    &::placeholder {
      color: transparent;
    }
  }
}
