.page-header__logo {
  display: flex;
  position: absolute;
  left: 47.6%;
  top: 30px;
  stroke: $brown;

  &:hover {
    stroke: $brown;
  }
}

.page-header__user-navigation {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header__wrapper {
  display: flex;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 0;
}


.page-header__search-button {
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 16px;
  height: 17px;
  top: 11px;
  left: 11px;

  &:hover {
    background-color: transparent;
  }
}

.page-header__search-input {
  width: 169px;
  padding-bottom: 0;
  padding-left: 29px;
  background-color: $white;
  border: none;

  &::placeholder {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: $gray-font;
  }

  &:hover {
    background-color: $white;
  }
}

.page-header__search-input--menu-opened {
  width: 100%;
  height: 40px;
  padding: 0;
  border: none;
  background-color: $input-background;
  border-radius: 21px;
  padding-left: 40px;

  &::placeholder {
    color: transparent;
  }
}

.page-header__search--closed {
  display: none;
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 187px;
  }

  .page-header__wrapper {
    position: relative;
    justify-content: space-between;
    height: 126px;
    padding-left: 7.17%;
    padding-right: 7.17%;
    border-bottom: 1px solid $gray;
  }

  .page-header__search {
    display: flex;
    text-align: left;
    vertical-align: middle;
    position: relative;
  }

  .page-header__search-button {
    top: 54px;
    left: -1px;
  }

  .page-header__search-icon {
    width: 14px;
    height: 14px;
    stroke: $black;
    fill: $black;
  }

  .info-list--desktop-main-only,
  .products-list--desktop-main-only {
    display: none;
  }

  .page-heder__logo-icon {
    margin-top: 30px;
  }

  .page-header__user-navigation {
    min-width: 119px;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .page-header__wrapper {
    align-content: right;
    height: 126px;
    padding-left: 5.7%;
    padding-right: 5.7%;
    border-bottom: none;
  }

  .page-header__logo {
    display: flex;
    position: absolute;
    left: 45.8%;
    top: 30px;
  }

  .page-header__user-navigation {
    margin-left: auto;
    padding-left: 0;
  }

  .page-header--menu-opened {
    min-height: 778px;
    background-color: $brown;

    .page-header__logo-icon {
      stroke: $white;
      fill: $white;
    }

    .page-header__wrapper {
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 176px;
    }

    .page-header__search {
      position: relative;
    }

    .page-header__search-icon {
      width: 16px;
      height: 16px;
      fill: $white;
      stroke: $white;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .page-header__wrapper {
    align-content: right;
    height: 92px;
    padding-left: 4.68%;
    padding-right: 4.68%;
    border-bottom: none;
  }

  .page-header__logo {
    display: flex;
    position: absolute;
    left: 42.5%;
    top: 13px;
    width: 52px;
    height: 52px;
    fill: $brown;
    stroke: $brown;
  }

  .page-header__user-navigation {
    margin-left: auto;
    padding-left: 0;
  }


  .page-header--menu-opened {
    min-height: 778px;
    background-color: $brown;

    .page-header__logo-icon {
      stroke: $white;
      fill: $white;
    }

    .page-header__wrapper {
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 142px;
    }

    .page-header__search {
      position: relative;
    }

    .page-header__search-icon {
      width: 16px;
      height: 16px;
      fill: $white;
      stroke: $white;
    }
  }
}
