.price-range--close {
  display: none;
}

.price-range__scale {
  position: relative;
  width: 94%;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 46px;
  background-color: $pink-gray;
}

.price-range__scale-fill {
  position: absolute;
  width: 53%;
  height: 1px;
  top: 0;
  left: 24%;
  background-color: $brown;
}

.price-range__scale label {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -7px;
  background-color: $brown;
  border-radius: 50%;
}

.price-range__scale label:first-of-type {
  left: 23%;
}

.price-range__scale label:last-of-type {
  right: 17%;
}

.price-range__scale input {
  position: absolute;
  top: 20px;
  left: -7px;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none;
  width: 40px;

  &::placeholder {
    color: $black;
  }

  &:focus {
    background-color: $white;
  }

  &:hover {
    background-color: $white;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .price-range__scale {
    display: block;
    width: 78%;
    margin-top: 11px;
    margin-bottom: 59px;
    margin-left: 10px;
  }

  .price-range__scale-fill {
    width: 53%;
    left: 20%;
  }

  .price-range__scale label {
    top: -8px;
    width: 18px;
    height: 18px;
  }

  .price-range__scale label:first-of-type {
    left: 15%;
  }

  .price-range__scale label:last-of-type {
    right: 21%;
  }

  .price-range__scale input {
    top: 25px;
    left: -7px;
    font-size: 16px;

    &:last-of-type {
      left: -11px;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .price-range__scale {
    position: absolute;
    display: block;
    width: 93%;
    left: 0;
    top: 75px;
  }

  .price-range__scale-fill {
    width: 55%;
    left: 20%;
  }

  .price-range__scale label {
    top: -8px;
    width: 18px;
    height: 18px;
  }

  .price-range__scale label:first-of-type {
    left: 20%;
  }

  .price-range__scale label:last-of-type {
    right: 17.6%;
  }

  .price-range__scale input {
    top: 25px;
    left: -5px;
    font-size: 16px;
  }

  .price-range__scale input:first-of-type {
    left: 0;
  }

  .price-range__scale input:last-of-type {
    right: 0;
  }
}
