.price-range--close {
  display: none;
}

.price-range__scale {
  position: relative;
  width: 200px;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 46px;
  background-color: $pink-gray;
}

.price-range__scale-fill {
  position: absolute;
  width: 90px;
  height: 1px;
  top: 0;
  left: 60px;
  background-color: $brown;
}

.price-range__lever {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -7px;
  background-color: $brown;
  border-radius: 50%;
}

.price-range__lever--left {
  left: 45px;
}

.price-range__lever--right {
  right: 35px;
}

.price-range__min-value,
.price-range__max-value {
  position: absolute;
  top: 13px;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: none;
  width: 40px;

  &::placeholder {
    color: $black;
  }

  &:focus {
    background-color: $white;
  }

  &:hover {
    background-color: $white;
  }
}

.price-range__min-value {
  left: 39px;
}

.price-range__max-value {
  right: 20px;
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .price-range__scale {
    display: block;
    width: 78%;
    margin-top: 11px;
    margin-bottom: 59px;
    margin-left: 10px;
  }

  .price-range__scale-fill {
    width: 53%;
    left: 20%;
  }

  .price-range__lever {
    top: -8px;
    width: 18px;
    height: 18px;
  }

  .price-range__lever--left {
    left: 15%;
  }

  .price-range__lever--right {
    right: 21%;
  }

  .price-range__min-value,
  .price-range__max-value {
    top: 16px;
    font-size: 16px;
  }

  .price-range__min-value {
    left: 12%;
  }

  .price-range__max-value {
    right: 17.5%;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .price-range__scale {
    position: absolute;
    display: block;
    width: 93%;
    left: 0;
    top: 75px;
  }

  .price-range__scale-fill {
    width: 53%;
    left: 20%;
  }

  .price-range__lever {
    top: -8px;
    width: 18px;
    height: 18px;
  }

  .price-range__lever--left {
    left: 16%;
  }

  .price-range__lever--right {
    right: 22%;
  }

  .price-range__min-value,
  .price-range__max-value {
    top: 16px;
    font-size: 16px;
  }

  .price-range__min-value {
    left: 13%;
  }

  .price-range__max-value {
    right: 17%;
  }
}
