.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.products-list__item {
  margin-right: 35px;
  padding-top: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .products-list--desktop-main-only {
    display: none;
  }

  .products-list {
    padding-left: 7px;
  }

  .products-list__item-link:hover {
    color: $gray-font;
  }

  .products-list__item-link {
    &:focus {
      outline: none;
      box-shadow: 0 0 2px 1px $brown;
    }
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .products-list {
    display: block;
    flex-direction: column;
    min-width: 280px;
    margin-top: 46px;
    margin-bottom: 40px;
  }

  .products-list__item {
    margin-right: 0;
    margin-bottom: 21px;
    padding-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .products-list__item-link {
    color: $white;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    &:hover {
      color: $black;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 1px $white;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .products-list {
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 29px;
    display: block;
  }

  .products-list__item {
    margin-right: 0;
    margin-bottom: 21px;
    padding-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .products-list__item-link {
    color: $white;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    &:hover {
      color: $black;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 1px $white;
    }
  }
}
