.shop-information__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.shop-information__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.shop-information__link {
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $white;
}

@media (min-width: $desktop-width) {
  .shop-information {
    padding-top: 96px;
  }
}
