.slider {
  position: relative;
}

.slider__pagination--mobile-only {
  display: none;
}

.slider__catalog-link {
  display: inline-block;
  vertical-align: middle;
  min-width: 83px;
  margin-left: calc(50% - 41px);
  font-family: $font;
  font-weight: 500;
  color: $black;
  text-align: center;
  border-bottom: 1px solid $brown;

  &:hover {
    color: $gray-font;
  }
}

.slider__controls {
  stroke: $brown;
  position: absolute;
  width: 29px;
  height: 9px;
  outline: none;
  cursor: pointer;

  &:hover {
    stroke: $black;
  }
}

.slider__wrapper {
  z-index: 2;
  display: block;
  overflow: hidden;
}

.slider__product-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  width: 300%;
}

.slider__product-description {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  flex-direction: column;
  padding-right: 5px;
  padding-left: 5px;
  width: 23.93%;
  flex-shrink: 2;
}

.slider__product-image-wrapper {
  display: flex;
  width: 100%;
  flex-shrink: 2;
}

.slider__product-name {
  margin-top: 21px;
  margin-bottom: 6px;
}

.slider__product-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.slider__pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-between;
}

.slider__pagination-link {
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $gray-font;

  &:hover {
    color: $black;
  }
}

.slider__pagination-link--active {
  cursor: pointer;
  color: $black;

  &:hover {
    color: $gray-font;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    min-width: 600px;
    padding-top: 24px;
    padding-left: 6.1%;
    padding-right: 6.1%;
  }

  .slider__catalog-link {
    font-size: 16px;
    line-height: 18px;
  }

  .slider__controls {
    top: -7px;
  }

  .slider__control-left {
    left: 7.17%;
  }

  .slider__control-right {
    right: 7.17%;
  }

  .slider__wrapper {
    height: 410px;
    padding-top: 60px;
  }

  .slider__product-image {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }

  .slider__pagination {
    width: 48px;
    padding-top: 36px;
    margin-left: calc(50% - 24px);
    padding-bottom: 99px;
  }

  .slider__pagination-item--tablet-only {
    display: none;
  }

  .slider__pagination--mobile-only {
    display: none;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .slider {
    padding-top: 19px;
    padding-left: 4%;
    padding-right: 4%;
  }

  .slider__catalog-link {
    padding-bottom: 4px;
    font-size: 16px;
    line-height: 21px;
  }

  .slider__controls {
    width: 36px;
    height: 15px;
    top: -5px;
  }

  .slider__right-arrow,
  .slider__left-arrow {
    width: 36px;
    height: 15px;
  }

  .slider__control-left {
    left: 5.8%;
  }

  .slider__control-right {
    right: 5.8%;
  }

  .slider__wrapper {
    height: 455px;
    padding-top: 50px;
  }

  .slider__product-list {
    width: 600%;
  }

  .slider__product-description {
    width: 47.78%;
  }

  .slider__product-image {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }

  .slider__pagination {
    width: 118px;
    padding-top: 26px;
    margin-left: calc(50% - 59px);
    padding-bottom: 50px;
  }

  .slider__pagination--mobile-only {
    display: none;
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .slider {
    padding-top: 19px;
    padding-left: 0;
    padding-right: 0;
  }

  .slider__catalog-link {
    padding-bottom: 4px;
    font-size: 16px;
    line-height: 21px;
  }

  .slider__controls {
    display: none;
  }

  .slider__wrapper {
    height: 280px;
    padding-top: 40px;
    overflow: hidden;
  }

  .slider__product-list {
    width: 600%;
  }

  .slider__product-description {
    justify-content: flex-start;
    width: 43.75%;
  }

  .slider__product-image {
    width: 100%;
    height: auto;
    flex-grow: 0;
  }

  .slider__product-name {
    margin-top: 16px;
    margin-bottom: 6px;
    text-align: center;
  }

  .slider__product-price {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  .slider__pagination--mobile-no {
    display: none;
  }

  .slider__pagination--mobile-only {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .slider__pagination {
    width: 49px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    margin-left: calc(50% - 24px);
    padding-bottom: 45px;
    font-weight: 500;
  }
}
