.social__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.social__item {
  margin-bottom: 22px;
  min-width: 115px;

  &:last-child {
    margin-bottom: 0;
  }
}

.social__link {
  display: flex;
  justify-self: start;
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $white;
}

.social__icon {
  margin-right: 15px;
  stroke: $white;
  fill: $white;
}

@media (min-width: $desktop-width) {
  .social {
    padding-top: 97px;
  }

  .social__icon-fb {
    margin-left: 4px;
    margin-right: 18px;
  }

  .social__icon-pin {
    margin-top: 1px;
  }

  .social__icon-tw {
    margin-top: 2px;
  }
}
