.subscription__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-headings;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: $white;
}

.subscription__text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $gray-font;
}

.subscription__form {
  display: flex;
  position: relative;
  justify-content: space-between;

  &::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 1px;
    background-color: $white;
  }
}

.subscription__form input {
  background-color: $black-background;
  border: none;
  margin-right: auto;
  height: 40px;
  color: $white;

  &::placeholder {
    font-family: $font;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $gray-font;
  }

  &:hover {
    color: $gray-font;
  }
}

.subscription__form button {
  background-color: $black-background;
  padding: 0;
  margin-bottom: 1px;
  width: 104px;
  margin-right: 12px;
  border: none;
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $gray-font;
  }

  &:hover svg {
    stroke: $gray-font;
  }
}

.subscription__form svg {
  width: 29px;
  height: 9px;
  margin-top: 5px;
  margin-right: 2px;
  stroke: $white;
}

@media (min-width: $desktop-width) {
  .subscription {
    padding-top: 90px;
  }

  .subscription__heading {
    margin-bottom: 9px;
  }

  .subscription__text {
    margin-bottom: 34px;
  }

  .subscription__form button {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .subscription {
    padding-top: 50px;
    padding-bottom: 46px;
  }

  .subscription__heading {
    margin-bottom: 9px;
  }

  .subscription__text {
    margin-bottom: 34px;
  }

  .subscription__form button {
    display: flex;
    justify-content: space-between;
    margin-right: 11px;
  }

  .subscription__form {
    &::after {
      width: calc(100% - 13px);
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .subscription {
    padding-top: 50px;
    padding-bottom: 46px;
    padding-right: 0;
  }

  .subscription__heading {
    margin-bottom: 13px;
    margin-right: 24%;
  }

  .subscription__text {
    margin-bottom: 31px;
    margin-right: 15%;
    line-height: 22px;
  }

  .subscription__form button {
    display: flex;
    justify-content: space-between;
    width: 102px;
    margin-right: 0;
  }

  .subscription__form svg {
    margin-right: 0;
  }

  .subscription__form {
    &::after {
      width: 100%;
    }
  }
}
