@media (min-width: $desktop-width) {
  .user-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 53px;
    padding-left: 0;
    list-style: none;
  }

  .user-navigation__cart-link {
    display: flex;
    justify-content: space-between;
  }

  .user-navigation__cart-counter {
    margin-left: 3px;
  }

  .user-navigation__cart-icon {
    display: none;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .user-navigation__cart-text,
  .user-navigation__cart-counter {
    display: none;
  }

  .user-navigation__cart-icon {
    margin-top: 54px;
  }

  .user-navigation--menu-closed {
    .user-navigation__login {
      display: none;
    }

    .user-navigation__cart-text {
      display: none;
    }

    .user-navigation__cart-icon {
      display: block;
      stroke: $black;
    }
  }

  .user-navigation--menu-opened {
    .user-navigation__cart-icon {
      stroke: $white;
      margin-top: 54px;
    }

    .user-navigation__login {
      position: absolute;
      width: 49px;
      height: 13px;
      top: 680px;
      left: 5.9%;
    }

    .user-navigation__login-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: $white;
    }
  }
}

@media (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
  .user-navigation__cart-text,
  .user-navigation__cart-counter {
    display: none;
  }

  .user-navigation__cart-icon {
    margin-top: 37px;
  }

  .user-navigation--menu-closed {
    .user-navigation__login {
      display: none;
    }

    .user-navigation__cart-icon {
      display: block;
      stroke: $black;
    }
  }

  .user-navigation--menu-opened {
    .user-navigation__cart-icon {
      stroke: $white;
    }

    .user-navigation__login {
      position: absolute;
      width: 49px;
      height: 13px;
      top: 616px;
      left: 4.68%;
    }

    .user-navigation__login-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: $white;
    }
  }
}
