// Fonts

$font: "Poppins",
  "Arial",
  sans-serif;

$font-headings: "Cormorant Garamond",
  "Georgia",
  serif;
// regular - 400
// medium - 500
// semi-bold - 600
// bold - 700

// Colors

$white-background: #e5e5e5;
$black-background: #000000;
$pink-gray: #f0eae4;
$gray: #f6f5f4;
$brown:#a87b62;
$black: #1d1613;
$white: #ffffff;
$gray-font: #9b9997;
$transparent-gray: rgba(29, 22, 19, 0.25);
$input-background: rgba(255, 255, 255, 0.15);
$pale-white: rgba(255, 255, 255, 0.75);

// Viewport

$min-mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
